<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
       PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smbms.dao.BillMapper">

   <select id="getBillById" resultType="smbms.pojo.Bill">
       select
       `id` as `id`,
       `billCode` as `billcode`,
       `productName` as `productname`,
       `productDesc` as `productdesc`,
       `productUnit` as `productunit`,
       `productCount` as `productcount`,
       `totalPrice` as `totalprice`,
       `isPayment` as `ispayment`,
       `createdBy` as `createdby`,
       `creationDate` as `creationdate`,
       `modifyBy` as `modifyby`,
       `modifyDate` as `modifydate`,
       `providerId` as `providerid`
       from `smbms_bill`
       <trim prefix="where" prefixOverrides="and | or">
           <if test="id != null">
               and `id`=#{id}
           </if>
       </trim>
   </select>

   <select id="getBillListByMap" resultType="smbms.pojo.Bill"
           parameterType="java.util.Map">
           select
           `id` as `id`,
           `billCode` as `billcode`,
           `productName` as `productname`,
           `productDesc` as `productdesc`,
           `productUnit` as `productunit`,
           `productCount` as `productcount`,
           `totalPrice` as `totalprice`,
           `isPayment` as `ispayment`,
           `createdBy` as `createdby`,
           `creationDate` as `creationdate`,
           `modifyBy` as `modifyby`,
           `modifyDate` as `modifydate`,
           `providerId` as `providerid`
           from `smbms_bill`
       <trim prefix="where" prefixOverrides="and | or">
           <if test="id != null">
               and `id` = #{id} 
           </if>
           <if test="billCode != null and billcode!=''">
               and `billCode` like CONCAT('%',#{billCode},'%') 
           </if>
           <if test="productName != null and productname!=''">
               and `productName` like CONCAT('%',#{productName},'%') 
           </if>
           <if test="productDesc != null and productdesc!=''">
               and `productDesc` like CONCAT('%',#{productDesc},'%') 
           </if>
           <if test="productUnit != null and productunit!=''">
               and `productUnit` like CONCAT('%',#{productUnit},'%') 
           </if>
           <if test="productCount != null">
               and `productCount` = #{productCount} 
           </if>
           <if test="totalPrice != null">
               and `totalPrice` = #{totalPrice} 
           </if>
           <if test="isPayment != null">
               and `isPayment` = #{isPayment} 
           </if>
           <if test="createdBy != null">
               and `createdBy` = #{createdBy} 
           </if>
           <if test="creationDate != null">
               and `creationDate` = #{creationDate} 
           </if>
           <if test="modifyBy != null">
               and `modifyBy` = #{modifyBy} 
           </if>
           <if test="modifyDate != null">
               and `modifyDate` = #{modifyDate} 
           </if>
           <if test="providerId != null">
               and `providerId` = #{providerId} 
           </if>
       </trim>
   </select>
   
   <select id="getBillRecordCount" resultType="int" parameterType="java.util.Map">
			select count(1) from `smbms_bill`
		<trim prefix="where" prefixOverrides="and | or">
           <if test="id != null">
               and `id` = #{id} 
           </if>
           <if test="billCode != null and billcode!=''">
               and `billCode` like CONCAT('%',#{billCode},'%') 
           </if>
           <if test="productName != null and productname!=''">
               and `productName` like CONCAT('%',#{productName},'%') 
           </if>
           <if test="productDesc != null and productdesc!=''">
               and `productDesc` like CONCAT('%',#{productDesc},'%') 
           </if>
           <if test="productUnit != null and productunit!=''">
               and `productUnit` like CONCAT('%',#{productUnit},'%') 
           </if>
           <if test="productCount != null">
               and `productCount` = #{productCount} 
           </if>
           <if test="totalPrice != null">
               and `totalPrice` = #{totalPrice} 
           </if>
           <if test="isPayment != null">
               and `isPayment` = #{isPayment} 
           </if>
           <if test="createdBy != null">
               and `createdBy` = #{createdBy} 
           </if>
           <if test="creationDate != null">
               and `creationDate` = #{creationDate} 
           </if>
           <if test="modifyBy != null">
               and `modifyBy` = #{modifyBy} 
           </if>
           <if test="modifyDate != null">
               and `modifyDate` = #{modifyDate} 
           </if>
           <if test="providerId != null">
               and `providerId` = #{providerId} 
           </if>
       </trim>
   </select>

   <insert id="insertBill" parameterType="smbms.pojo.Bill">
       insert into `smbms_bill`(
              		`billCode`,
              		`productName`,
              		`productDesc`,
              		`productUnit`,
              		`productCount`,
              		`totalPrice`,
              		`isPayment`,
              		`createdBy`,
              		`creationDate`,
              		`modifyBy`,
              		`modifyDate`,
              		`providerId`
       )
       values(
              		#{billcode},
              		#{productname},
              		#{productdesc},
              		#{productunit},
              		#{productcount},
              		#{totalprice},
              		#{ispayment},
              		#{createdby},
              		#{creationdate},
              		#{modifyby},
              		#{modifydate},
              		#{providerid}
       )
   </insert>

   <update id="updateBill" parameterType="smbms.pojo.Bill">
       update `smbms_bill`
       <trim prefix="set" suffixOverrides="," suffix="where `id`=#{id}">
           <if test="billcode != null and billcode!=''">       
               `billCode`=#{billcode},
           </if>
           <if test="productname != null and productname!=''">       
               `productName`=#{productname},
           </if>
           <if test="productdesc != null and productdesc!=''">       
               `productDesc`=#{productdesc},
           </if>
           <if test="productunit != null and productunit!=''">       
               `productUnit`=#{productunit},
           </if>
           <if test="productcount != null">       
               `productCount`=#{productcount},
           </if>
           <if test="totalprice != null">       
               `totalPrice`=#{totalprice},
           </if>
           <if test="ispayment != null">       
               `isPayment`=#{ispayment},
           </if>
           <if test="createdby != null">       
               `createdBy`=#{createdby},
           </if>
           <if test="creationdate != null">       
               `creationDate`=#{creationdate},
           </if>
           <if test="modifyby != null">       
               `modifyBy`=#{modifyby},
           </if>
           <if test="modifydate != null">       
               `modifyDate`=#{modifydate},
           </if>
           <if test="providerid != null">       
               `providerId`=#{providerid}
           </if>
       </trim>
   </update>

   <delete id="deleteBillById" parameterType="Integer">
       delete from `smbms_bill` where `id` = #{id}
   </delete>
</mapper>