<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- service包下所有添加@Service注解的类自动实例化 -->
	<context:component-scan base-package="smbms.service"></context:component-scan>
	<!-- dao包下所有添加@Repository注解类自动实例化 -->
	<context:component-scan base-package="smbms.dao"></context:component-scan>
	
	<!-- datasource -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource"
	p:driverClass="com.mysql.jdbc.Driver" 
	p:url="jdbc:mysql:///smbms?useUnicode=true" 
	p:username="root" p:password="accp" />
	
	<!-- jdbcTemplate -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
	p:dataSource-ref="dataSource" />

</beans>
